#parralax_effect {
    background-size: cover;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
}

.hot_bg {
    background-image: url(https://images.unsplash.com/photo-1616620257057-69d949aad79e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80);
}

.normal_bg {
    background-image: url(https://images.unsplash.com/photo-1530318271774-4f2cb0d1fda1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80);
}

.cold_bg {
    background-image: url(https://images.unsplash.com/photo-1519944159858-806d435dc86b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
}